body {
    background-color: white;
  }

.nav-background{
    background-image: url("../img/galaxy.jpg");
    background-size: cover;
    min-height: 100%;
}
.navbar-div {
    position: absolute;
    width: 100%;
    left: 0;
}

.alignleft {
    display: table-cell;
    vertical-align: middle;
}

.img{
  /* navajo-map-introduction-source-A-lg 1 */
  position: relative;
}

.big-caption {
  position: relative;

  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 600;
  font-size: 40px;
  line-height: 52px;
  /* identical to box height */

  letter-spacing: 0.03em;

  color: #000000;
}

.body {
  position: absolute;
  top: 125px;
  left: 50px;
}

p1 {
  /* Big Title */
  
  position: relative;
  
  font-family: 'IBM Plex Serif';
  font-style: normal;
  font-weight: 700;
  font-size: 70px;
  line-height: 91px;
  /* identical to box height */
  letter-spacing: 0.03em;
  
  color: #000000;
}
  
  p2 {
      /* Sub header */
  
    position: relative;
    padding-left: 20px;
  
    font-family: 'IBM Plex Serif';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height */
    letter-spacing: 0.03em;
  
    color: rgba(46, 6, 78, 0.79);
  
  }
  
  .ptext {
  /* text */
  position: relative;
  
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  
  color: #000000;
  
  }
  
  .rtext {
    /* right aligned text */
    position: relative;
    text-align: right;
    
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.03em;
    
    color: #000000;
    
    }

  p4 {
    /* This site contains information on how Indigenous people lived before colonization and how we can use those lessons as a reference for making a better future. */
  
  position: absolute;
  width: 1288px;
  height: 62px;
  left: 76px;
  top: 463px;
  
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  
  color: #000000;
  
  
  }
  
  p5 {
    /* Sihasin is also a reference for those who wish to learn more about their own tribes. */
  
  position: absolute;
  width: 1288px;
  height: 31px;
  left: 76px;
  top: 544px;
  
  font-family: 'IBM Plex Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
  letter-spacing: 0.03em;
  
  color: #000000;
  
  
  }
  
  .go-btn {
    position: relative
    
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }