
reed {
    /* reed 1 */

position: absolute;
width: 400px;
height: 2398px;
left: -98px;
top: -966px;

background: url(reed.png);

}

p1 {
    /* Title */

position: absolute;
width: 854px;
height: 91px;
left: 77px;
top: 169px;



/* Learning From the Past */

position: absolute;
width: 854px;
height: 91px;
left: 77px;
top: 169px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 700;
font-size: 70px;
line-height: 91px;
/* identical to box height */
letter-spacing: 0.03em;

color: #000000;


}

p2 {
    /* Gratitude */

position: absolute;
width: 1155px;
height: 309px;
left: 215px;
top: 315px;



/* The Diné give thanks to the One Who Watches Us By Sunlight for: The Sun The Earth The Moisture The Atmosphere The Diné do not worship Mother Earth, instead they view her as an equal being, living alongside them. They share gratitude to the One Who Watches Us By Sunlight on behalf of Mother Earth. */

position: absolute;
width: 1131px;
height: 217px;
left: 239px;
top: 407px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.03em;

color: #000000;



/* Gratitude */

position: absolute;
width: 241px;
height: 62px;
left: 215px;
top: 315px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
letter-spacing: 0.03em;

color: rgba(46, 6, 78, 0.76);


}

p3 {
    /* The Diné give thanks to the One Who Watches Us By Sunlight for: The Sun The Earth The Moisture The Atmosphere The Diné do not worship Mother Earth, instead they view her as an equal being, living alongside them. They share gratitude to the One Who Watches Us By Sunlight on behalf of Mother Earth. */

position: absolute;
width: 1131px;
height: 217px;
left: 239px;
top: 407px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.03em;

color: #000000;


}

p4 {
    /* Day-to-Day Life */
position: absolute;
width: 388px;
height: 62px;
left: 215px;
top: 682px;

font-family: 'IBM Plex Serif';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 62px;
letter-spacing: 0.03em;

color: rgba(46, 6, 78, 0.76);

}

p5 {
    /* The Diné use their hair to represent their spirit. A tsiiyéél/Navajo bun is a common hair style among the Diné. The white strands are a representation of the sun intertwined with a Diné person’s spirit. */

position: absolute;
width: 691px;
height: 124px;
left: 239px;
top: 772px;

font-family: 'IBM Plex Sans';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 31px;
letter-spacing: 0.03em;

color: #000000;


}